.resultText{
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

.correctAnswer{
    color: #12965a;
}

.incorrectAnswer{
    color: #ed332d;
}


/*Large desktop screens*/
@media (min-width: 1600px) {

    .resultText{
        font-size: 1.9em;
    }
}