h1{
    text-align: center;
    margin-top: 40px;
    color: black;
    text-shadow:
            1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE,
            2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE,
            3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE,
            4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE,
            5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE,
            6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE,
            7px 6px 1px #CCCCCC;
}
th, td{
    font-size: 1.3em;
    padding: 15px;
    border: 1px solid black;
}
table{
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

button{
    margin-top: 40px;
    font-size: 1.3em;
    padding: 10px;
    min-width: 15%;
    border-radius: 10px;
}

.points{
    text-align: center;
    font-size: 1.5em;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header, .footer{
    background-image: url("/favicon.ico");
    position:fixed;
    width: 100%;
    left: 0;
    height: 40px;
    z-index: -1;
}
.header{
    top:0;
}
.footer{
    bottom:0;
}

@media (max-width: 600px){
    h2, .points{
        font-size: 1.3em;
    }
    th, td{
        padding: 8px;
        font-size: 1em;
    }
    button{
        margin-top: 15px;
        font-size: 1em;
    }
}

/*Large desktop screens*/
@media (min-width: 1600px) {
    h1{
        font-size: 3em;
    }
    h2, .points{
        font-size: 2.3em;
        margin-top: 60px;
    }
    button{
        font-size: 2em;
    }

    th, td{
        padding: 25px;
        font-size: 1.8em;
    }
}
