.header, .footer{
    background-image: url("/public/favicon.ico");
    position:fixed;
    width: 100%;
    left: 0;
    height: 8%;
    z-index: -1;
}
.header{
    top:0;
}

.footer{
    bottom:0;
}
